/* Стилизация кнопки */

.button {
    height: 48px;
    color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    padding: 15px 60px;
    border-radius: 8px;

    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.button__primary {
    background-color: var(--primary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__primary:hover {
    background-color: var(--primary-hover);
}

.button__secondary {
    background-color: var(--secondary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__secondary:hover {
    background-color: var(--secondary-hover);
}

.button__alternate {
    background-color: var(--alternate);
    color: var(--grey-4);
    border-color: var(--grey-3);
    transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
}

.button__alternate:hover {
    border-color: var(--black);
}